<div class="row"><br/>
  <div class="span4">&nbsp;</div>
  <div class="span4">
  <%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if (action_name == "edit") %>
        <h2><%= t 'header.settings' %></h2>
  <% end %>
  <br /><br />

  <%= f.label "#{t 'registrations.name'}" %> <%= f.text_field :name %>
  <%= f.label "#{t 'registrations.email'}" %> <%= f.text_field :email %>

  <!-- SOON
  <% if (action_name == "edit") %>
  <hr>
  <p style="color:red">Change the password<p style="color:grey"><i>Leave blank if you don't want to change it</i></p></p>
  <br />
  <%= f.label :current_password %><%= f.password_field :current_password %>
  <%= f.label :password %><%= f.password_field :password %>
  <%= f.label :password_confirmation %><%= f.password_field :password_confirmation %>

  <% end %> -->

  <br /><br />

  <%= f.submit "#{t 'general.update'}", :class=>"btn btn-medium" %>
  <% end %>
  </div>
</div>
