<%= search_form_for @search do |f| %>
  <h3>User</h3><%= f.text_field :name_cont %>
  <%= f.submit %>
<% end %>
<table class="table">
  <tr>
    <th><%= sort_link @search, :id, "ID" %></th>
    <th><%= sort_link @search, :name %></th>
    <th><%= sort_link @search, :email %></th>
    <th><%= sort_link @search, :is_admin, "Admin?" %></th>
    <th><%= sort_link @search, :is_banned, "Banned?" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <% if user.is_admin %>
    <tr style="background-color: #84DFC1;">
  <% else %>
    <tr>
  <% end %>
    <td><%= user.id %></td>
    <td><%= link_to user.name, user %></td>
    <td><%= user.email %></td>
    <td><%= user.is_admin %></td>
    <td><%= user.is_banned %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate(@posts, :more => true, :class => "digg_pagination") %>

