<p id="notice"><%= notice %></p>

<h3>
  <%= @user.name %>
</h3>

<% @user.posts.each do |post| %>
<%= post.title %>
<%= image_tag post.image.url(:medium)%>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
