
<div class="postaControl">
	<div class="postaTitle">
		<%= @user.name %>
	</div>
	<div class="postaData" aling="center">

	</div>
</div>


<% @user.posts.each do |post| %>
<div id="hidden">
	<div class="leftPosts">
		<%= link_to image_tag(post.image.url(:medium), :class => 'displayed'), post %>
	</div>
	<div class="rightPosts" id="m">
		<h2><%= post.title %></h2>
		
		<% if post.user == nil then %>
			Anonymous
		<% else %>
			<%= link_to post.user.name, user_path(post.user) %>
		<% end %>
		<%= distance_of_time_in_words(Time.now, post.created_at) + " ago" %><br />
		<span id="votes-<%= post.id %>"><%= 
		if(post.plusminus == 0) 
			"Be the 1st one to like"
		elsif(post.plusminus == 1)
			post.plusminus.to_s + " Like"
		else
			post.plusminus.to_s + " Likes"
		end %></span>  |
		<%= link_to 'Like', {:controller=> 'posts', :action=>'vote', :post_id => post.id}, :remote => true, :method => 'get' %> <br/>
		# comments | Link to comment<br/>
		Social Networks
	</div>
</div>
<hr> 

<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> WHAT TO DO WITH THEM??
