<div class="userPage" type="fake">
<div class="well">
  <div>
  <h1><%= @user.name %></h1>
  </div>
  <i class="icon-pencil"></i> <%= @user.posts.count %> posts |
  <b>Other meaningful statics worth to show: </b>
  <i class="icon-heart"></i> # of likes earned | # of tweets | # of shares | # of comments
</div>
<%= render @posts %>
</div>
<%= will_paginate(@posts, :more => true, :class => "digg_pagination") %>
<p id="back-top"><a href="#top"><span></span><%= t 'others.back_to_top' %></a></P>
