<div class="tabbable" style="margin-bottom: 9px;">
  <ul class="nav nav-tabs">
    <li class="active"><a href="<%= index_path %>"><%= t 'tabs.latest' %></a></li>
    <li><a href="<%= mvote_path %>"><%= t 'tabs.most_voted' %></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="1">
    <div id="posts">
    <%= render @posts %>
    </div>
    <%= will_paginate(@posts, :more => true) %>
    </div>

    <div class="tab-pane" id="2">
    <div id="posts">
    <%= render @posts %>
    </div>
    <%= will_paginate(@posts, :more => true) %>
    </div>
  </div> <!-- /tab-content -->
</div> <!-- /tabbable -->


