<% Post.all.reverse.each do |post|%>
<div id="hidden">
	<div class="leftPosts">
		<%= link_to image_tag(post.image.url(:large), :class => 'displayed'), post %>
	</div>
	<div class="rightPosts">
		<h2><%= post.title %></h2>
		<%= distance_of_time_in_words(Time.now, post.created_at) + " ago" %><br />
		<% if post.user == nil then %>
			Anonymous
		<% else %>
			<%= link_to post.user.name, user_path(post.user) %>
		<% end %>
		<br />
		<span id="votes-<%= post.id %>"><%= post.plusminus %></span> Likes </br >
		<%= link_to 'Like', {:controller=> 'posts', :action=>'vote', :post_id => post.id}, :remote => true, :method => 'get' %>
	</div>
</div>
<hr> 
<% end %>