<div class="row">
	
	<div class="span5 well">
	<h2 >Login</h2>
	<br />
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		  <div><%= f.label :email %>
		  <%= f.email_field :email %></div>

		  <div><%= f.label :password %>
		  <%= f.password_field :password %></div>

		  <% if devise_mapping.rememberable? -%>
		  <%= f.check_box :remember_me,:style=>"display:inline-block" %> <%= f.label :remember_me, :style=>"display:inline-block;" %>
	  <% end -%>
	  <div><%= f.submit "Sign in", :class=>"btn btn-large" %></div>
	</div>
	
	<div class="span5 well">
		<%= render :partial => "devise/shared/links" %>
	<% end %>
	</div>
	
</div>