<% @title = "#{t 'registrations.sign_in_btn'}" %>
<div class="row"><br/>
  <div class="span1">&nbsp</div>
  <div class="span5">
    <h2 ><%= t 'registrations.sign_in_btn' %></h2>
    <br /><br />
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= f.label "#{t 'registrations.email'}" %> <%= f.email_field :email %>
    <%= f.label "#{t 'registrations.password'}" %> <%= f.password_field :password %>

    <% if devise_mapping.rememberable? -%>
    <br />
    <% if (I18n.locale.to_s == "ar") %>
      <%= f.label "#{t 'registrations.remember_me'}", :style=>"display:inline-block;"%>
      <%= f.check_box :remember_me,:style=>"display:inline-block", :value => '1'%>
    <% elsif (I18n.locale.to_s == "en") %>
      <%= f.check_box :remember_me,:style=>"display:inline-block", :value => '1'%>
      <%= f.label "#{t 'registrations.remember_me'}", :style=>"display:inline-block;"%>
    <% end %>

    <% end -%>
    <br /><br />
    <%= f.submit "#{t 'registrations.sign_in_btn'}", :class=>"btn btn-medium" %>
  </div>

  <div class="span5">
    <%= render :partial => "devise/shared/links" %>
    <% end %>
  </div>

</div>
