<div class="row">
  <div class="span4">&nbsp;</div>

  <div class="span4 well">
  <%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :user_id %>
  <%= f.label "#{t 'post.title'}" %> <%= f.text_field :title %>
  <%= f.label "#{t 'post.image'}" %> <%= f.file_field :image %>
  <%= if (action_name == "edit")
        "#{t 'post.edit_note'}"
      end %>
  <br /><br />
  <%= f.submit "#{t 'general.submit'}", :class=>"btn btn-medium" %>
<% end %>
</div>
