<div class="row"><br/>
  <div class="span4">&nbsp;</div>

  <div class="span4">
  <%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if (action_name == "new") %>
        <h2><%= t 'post.new_post' %></h2>
  <% elsif (action_name == "edit") %>
        <h2><%= t 'post.edit_post' %></h2>
  <% end %>
  <%= f.hidden_field :user_id %>
  <%= f.label "#{t 'post.title'}" %> <%= f.text_field :title %>
  <% cont = "" %>
  <% cont = @post.content.gsub('<br />', "").gsub('<p>', "").gsub('</p>', "") if @post.content.present? %>
  <%= f.label "#{t 'post.content'}" %> <%= f.text_area :content, :value=>cont, :style=>"resize:none", :cols=>"10", :rows=>"10" %>
  <br /><br /><br /><%= t 'post.or' %> <br /><br /><br />
  <%= f.label "#{t 'post.image'}" %> <%= f.file_field :image %><br />
  <%= if (action_name == "edit")
        "#{t 'post.edit_note'}"
      end %>
  <br /><br />
  <%= f.submit "#{t 'general.submit'}", :class=>"btn btn-medium" %>
  <% end %>
  </div>
</div>
