 <script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'Shibshib'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
  var s = document.createElement('script'); s.async = true;
  s.type = 'text/javascript';
  s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
<% if params[:locale] == 'ar'
     @lang = "ar_AR"
     @tlang = "ar"
   else
     @lang = "en_US"
     @tlang = "en"
   end %>
<div class="row">
  </br>
  <div class="span8 pad-sides">
    <%= link_to image_tag(post.image.url(:large), :class => 'displayed', :alt => post.title), post if post.image.
    present? %>
    <%= raw post.content if post.content.present? %>
    </div>

    <div class="span3 well center">
      <h2><%= link_to post.title, post_path(post), :class => 'title' %></h2><br/>
      <i class="icon-user"></i>
      <% if post.user == nil then %>
        Anonymous
      <% else %>
        <%= link_to post.user.name, user_path(post.user) %>
      <% end %>
      <br/>
      <!-- the below line is needed for Arabic alginment -->
      <i style="visibility:hidden;" ><%= "#{t 'post.fake'}" %></i>

      <i class="icon-time"></i>
      <%= if(params[:locale] == 'ar')
            t = (Time.now - post.created_at) #to secs
            #check for numbers 3 to 10
            if((t/31104000).ceil > 2 && (t/31104000).ceil < 11) #check years
              "#{t 'post.ago'} #{(t/31104000).ceil} #{t 'others.ar_t_t_years'}"
            elsif((t/2592000).ceil > 2 && (t/2592000).ceil < 11) #check months
              "#{t 'post.ago'} #{(t/2592000).ceil} #{t 'others.ar_t_t_months'}"
            elsif((t/86400).ceil > 2 && (t/86400).ceil < 11) #check days
              "#{t 'post.ago'} #{(t/86400).ceil} #{t 'others.ar_t_t_days'}"
            elsif((t/3600).ceil > 2 && (t/3600).ceil < 11) #check hours
              "#{t 'post.ago'} #{(t/3600).ceil} #{t 'others.ar_t_t_hours'}"
            elsif((t/60).ceil > 2 && (t/60).ceil < 11) #check mins
              "#{t 'post.ago'} #{(t/60).ceil} #{t 'others.ar_t_t_mins'}"
            #check for number 2
            elsif((t/31104000).ceil > 1.5 && (t/31104000).ceil < 3) #check years
              "#{t 'post.ago'} #{t 'others.ar_t_years'}"
            elsif((t/2592000).ceil > 1.5 && (t/2592000).ceil < 3) #check months
              "#{t 'post.ago'} #{t 'others.ar_t_months'}"
            elsif((t/86400).ceil > 1.5 && (t/86400).ceil < 3) #check days
              "#{t 'post.ago'} #{t 'others.ar_t_days'}"
            elsif((t/3600).ceil > 1.5 && (t/3600).ceil < 3) #check hours
              "#{t 'post.ago'} #{t 'others.ar_t_hours'}"
            elsif((t/60).ceil > 1.5 && (t/60).ceil < 3) #check mins
              "#{t 'post.ago'} #{t 'others.ar_t_mins'}"
            #check for number 2
            else
              "#{t 'post.ago'} #{distance_of_time_in_words(Time.now, post.created_at)}"
            end
          else
            "#{distance_of_time_in_words(Time.now, post.created_at)}#{t 'post.ago'}"
          end  %> | 
      <i class="icon-comment"></i>
      <a href="<%= post_path(post).to_s+'#disqus_thread' %>"></a>
      <div class="small-break"></div>
      
      <% if(post.plusminus == 0)
        nlikes = "#{t 'post.no_likes'}"
      elsif(post.plusminus == 1) 
        likes = "#{t 'post.one_like'}"
      elsif(post.plusminus == 2)
        likes = "#{t 'post.two_likes'}"
      elsif(post.plusminus > 2 && post.plusminus < 11)
        nlikes = "#{post.plusminus.to_s}"
        likes = " #{t 'post.three_to_ten_likes'} "
      else
        nlikes = "#{post.plusminus.to_s}"
        likes = " #{t 'post.many_likes'} "
      end %>

      <br/>
      
      <ul class='shareLinks' id="shares<%= post.id %>">
        <li>
        <%= link_to ({:controller=> 'posts', :action=>'vote', :post_id => post.id}), :remote => true do %>
          <span class="btn btn-mini"><i class="icon-heart"></i> <i style="visibility:hidden;" ><%= "#{t 'post.fake'}" %></i><span id="votes-<%= post.id %>"><%= nlikes %></span><span><%= likes %></span></span>
        <% end %>
        </li>

        <!-- Tweeter -->
        <li>
        <div class="tweet">
        <a target="_blank" href="http://twitter.com/share" class="twitter-share-button" data-url="<%= post_url(post)%>" data-text="<%= post.title %>" data-count="none" data-via="shibshibme" data-hashtags="ضحك" data-lang="<%= @lang %>"></a></div>
        </li>

        <!-- Facebook -->
        <li>
        <div class="fb-like" data-href="<%= post_url(post)%>" data-send="true" data-layout="button_count" data-width="50" data-show-faces="false" data-font="tahoma" send="false"></div>
        </li>
        
      </ul>

  </div><!-- end of well -->
  </br>
</div>
<hr>
