<div class="row">
	<div class="span8">
		<%= link_to image_tag(post.image.url(:large), :class => 'displayed'), post %>
	</div>
	<div class="span3 well">
		<h2><%= post.title %></h2>
		<i class="icon-user"></i>
		<% if post.user == nil then %>
			Anonymous
		<% else %>
			<%= link_to post.user.name, user_path(post.user) %>
		<% end %><br/>
		<i class="icon-time"></i>
		<%= "#{distance_of_time_in_words(Time.now, post.created_at)} #{t 'post.ago'}" %>
		
		<br />
		
		
		<span id="votes-<%= post.id %>"><% if(post.plusminus == 0)
			likes = "#{t 'post.no_likes'}"
		elsif(post.plusminus == 1)
			likes = "#{t 'post.one_like'}"
		elsif(post.plusminus > 1 || post.plusminus < 11)
			likes = "#{post.plusminus.to_s} #{t 'post.three_to_ten_likes'}"
		else
			likes = "#{post.plusminus.to_s} #{t 'post.many_likes'}"
		end %>
		<input class="btn disabled" type="submit" value="<%= likes %>">
		<%= link_to root_path, {:controller=> 'posts', :action=>'vote', :post_id => post.id, :class => 'btn btn-mini'}, :remote => true, :method => 'get' do %>
			<%= image_tag("like.png", :alt => "like") %>
		  <% end %>
		  
		  
		<br/>
		
		
		<input class="btn disabled" type="submit" value="<%= likes %> (COMMENTS)">
		<%= link_to root_path, {:controller=> 'posts', :action=>'vote', :post_id => post.id, :class => 'btn btn-mini'}, :remote => true, :method => 'get' do %>
			<%= image_tag("comments.png", :alt => "comments") %>
		  <% end %>
		  
		  
		<br/>
		
		<div class="social">
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= post_url(post)%>" data-text="<%= post.title %>" data-size="large" data-hashtags="shibshib">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				<%= image_tag("fbshare.png", :alt => "fbshare") %> 1
		</div>
		
	</div>
</div>
<HR>
