<p id="notice"><%= notice %></p>
<div class="postaControl">
	<div class="postaTitle">
		<%= @post.title %>
	</div>
	<div class="postaData">
		User: | days ago - comments - likes
	</div>
	<div class="postaSocial">
		Social Linkes ~~
	</div>
</div>
<div >
	<img class="displayed" src="<%= @post.image.url %>" />
	
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
