<p id="notice"><%= notice %></p>
<div class="postaControl">
	<div class="postaTitle">
		<%= @post.title %>
	</div>
	<div class="postaData">
		User: | days ago - comments - likes
	</div>
	<div class="postaSocial">
		Social Linkes ~~
	</div>
</div>
<div >
	<%= link_to image_tag(@post.image.url, :class => 'displayed'), post %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
