<div class="navbar-inner">
	
	<div class="postaTitle">
		<%= @post.title %>
	</div>
	
	<div class="postaData">
	<% if @post.user == nil then %>
			Anonymous
		<% else %>
			<%= link_to @post.user.name, user_path(@post.user) %>
		<% end %> - 
		<%= "#{distance_of_time_in_words(Time.now, @post.created_at)} #{t 'post.ago'}" %>
		<fb:comments-count href="http://shibshib.me/posts/<%= @post.id %>"></fb:comments-count> comments 
	<br/>
	<span id="votes-<%= @post.id %>"><% if(@post.plusminus == 0)
			likes = "#{t 'post.no_likes'}"
		elsif(@post.plusminus == 1)
			likes = "#{t 'post.one_like'}"
		elsif(@post.plusminus > 1 || @post.plusminus < 11)
			likes = "#{@post.plusminus.to_s} #{t 'post.three_to_ten_likes'}"
		else
			likes = "#{@post.plusminus.to_s} #{t 'post.many_likes'}"
		end %>
		<input class="btn disabled" type="submit" value="<%= likes %>">
		<%= link_to root_path, {:controller=> 'posts', :action=>'vote', :post_id => @post.id, :class => 'btn btn-mini'}, :remote => true, :method => 'get' do %>
			<%= image_tag("like.png", :alt => "like") %>
		  <% end %>
		  
		
		<input class="btn disabled" type="submit" value="<%= likes %> (COMMENTS)">
		<%= link_to root_path, {:controller=> 'posts', :action=>'vote', :post_id => @post.id, :class => 'btn btn-mini'}, :remote => true, :method => 'get' do %>
			<%= image_tag("comments.png", :alt => "comments") %>
		  <% end %>
		  
		 <div class="social">
			<%= image_tag("tweet.png", :alt => "tweet") %> 1
			<%= image_tag("fbshare.png", :alt => "fbshare") %> 1
		</div>
		<br/>
		
	
	</div>
</div>

<%= image_tag @post.image.url(:large), :class=>'displayed' %>

<div class="span12">
<button class="btn btn-danger" type="submit"><%= t 'post.report' %></button>
</div>
<br/>
<hr>
<<<<<<< HEAD
<div class="comments">
	<div class="fb-comments" data-href="http://shibshib.me/posts/<%= @post.id %>" data-num-posts="3" data-width="470"></div>
	<%= link_to 'Edit', edit_post_path(@post) %> |
	<%= link_to 'Back', posts_path %>
</div>
=======
<br/>
<div class="span12">
<p>Facebook comments go here! </p>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
</div>
>>>>>>> cffb4660cb17a565c6557596341c037c1f13bc80
