
<% id = "p"+@post.id.to_s %>
<% voteid = '#votes-' + @post.id.to_s %>
<% selecter = '#shares' + @post.id.to_s %>
<% @link = "<a href='http://shibshib.me/users/sign_in'><div id='login-required'><p>#{t 'post.log_to_vote'}</p></div></a>" %>

$("<%= selecter %>").bind("click", function() {
  <% if current_user.nil? %>
    $("<%= selecter %>").before("<%= @link.html_safe %>");
    $("#login-required").fadeOut(4000, function() {$("#login-required").remove();});
  <% else %>
    $("<%= voteid %>").html('');
    $("<%= voteid %>").html(<%= @post.plusminus %>);
  <% end %>
  $(this).unbind( event );
});
