<header>
<div class="wraper">

	<nav>
	<%= link_to root_path do %>
	<p><%= t 'header.home' %></p>
	<% end %>
	<%= link_to root_path do %>
	<%= image_tag("shibshib.png", :alt => "logo") %>
	<% end %>
	</nav>
	
	<div class="userControl">
	<% if user_signed_in? then %>
		<%= link_to destroy_user_session_path do %>
		<p><%= t 'header.sign_out' %></p>
		<% end %>
		<%= link_to root_path do %>
		<%= link_to current_user.name, current_user %>
		<% end %>
		<%= link_to new_post_path do %>
		<p><%= t 'header.new_post' %></p>
		<% end %>
	<% else %>
		<%= link_to new_user_session_path do %>
		<p><%= t 'header.login' %></p>
		<% end %>
		<%= link_to new_user_registration_path do %>
		<p><%= t 'header.sign_up' %></p>
		<% end %>
	<% end %>
	</div>
</div>
</header>