<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <%= link_to root_path do %>
      <%= image_tag("shibshib.png", :alt => "logo", :class => "brand shibshib-logo", :style=>"margin:0; padding:0") %>
      <% end %>
      
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "#{t 'header.home'}", root_path %></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t 'footer.language' %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "العربية", :locale=>'ar' %></li>
            <li><%= link_to "English", :locale=>'en' %></li>
          </ul>
          </li>
        </ul>

        <fb:fan profile_id="374637662568823" stream="0" connections="1" width="300px" height="60px" header="0" logobar="0" css="http://giantleague.com/shibshib.css?15"></fb:fan>

        <ul class="nav pull-right">

          <% if user_signed_in? then %>
          <li><%= link_to "#{t 'header.new_post'}", new_post_path %></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= current_user.name %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to user_path(current_user) do %><i class="icon-user"></i> <%= "#{t 'header.profile'}" %><% end %></li>
            <li><%= link_to edit_user_path(current_user) do %><i class="icon-cog"></i> <%= "#{t 'header.settings'}" %><% end %></li>
            <li class="divider"></li>
            <li><%= link_to destroy_user_session_path, :method => :delete do %><i class="icon-off"></i> <%= "#{t 'header.sign_out'}" %><% end %></li>
            </ul>
          </li>

          <% else %>
          <li><%= link_to "#{t 'header.login'}", new_user_session_path %></li>
          <li><%= link_to "#{t 'header.sign_up'}", new_user_registration_path %></li>
          <% end %>
          </ul>

      </div><!--/.nav-collapse -->

    </div>
  </div>
</div>

