<header>
<div class="wraper">
	<div class="nav">
		<%= link_to root_path do %>
			<%= image_tag("shibshib.png", :alt => "logo") %>
		<% end %>
		<%= link_to "#{t 'header.home'}", root_path %>
	</div>
	
	<div class="userControl">
	<% if user_signed_in? then %>
		<%= link_to destroy_user_session_path do %>
			<%= t 'header.sign_out' %>
		<% end %>
		<%= link_to current_user do %>
			<%= current_user.name %>
		<% end %>
		<%= link_to new_post_path do %>
			<%= t 'header.new_post' %>
		<% end %>
	<% else %>
		<%= link_to new_user_session_path do %>
			<%= t 'header.login' %>
		<% end %>
		<%= link_to new_user_registration_path do %>
			<%= t 'header.sign_up' %>
		<% end %>
	<% end %>
	</div>
</div>
</header>