<% if params[:locale] == 'ar'
     @lang = "ar_AR"
     @tlang = "ar"
   else
     @lang = "en_US"
     @tlang = "en"
   end %>
<div data-role="header" data-position="inline">
  <h1 class="ui-btn-left" ><%= title %></h1>
  <form name="form1" >
  <select name="select" onchange="goto(this.form)" data-native-menu="false">
    <option><%= t 'mobile.options' %></option>
    <!--
    <% if user_signed_in? then %>
      <option value="<%= new_post_path %>"><%="#{t 'header.new_post'}"%></option>
      <option value="<%= user_path(current_user) %>"><%="#{t 'header.profile'}"%></option>
      <option value="<%= edit_user_path(current_user) %>"><%="#{t 'header.settings'}"%></option>
      <% if current_user.is_admin? then %>
        <option value="<%= rails_admin_path %>"><%="#{t 'header.admin_panel'}"%></option>
      <% end %>
      <option value="<%= destroy_user_session_path %>"><%="#{t 'header.sign_out'}"%></option>

    <% else %>
      <option value="<%= new_user_session_path %>"><%="#{t 'header.login'}"%></option>
      <option value="<%= new_user_registration_path %>"><%="#{t 'header.sign_up'}"%></option>
    <% end %>
    -->
    <option value="<%= index_path %>"><%= t 'tabs.latest' %></option>
    <option value="<%= mvote_path %>"><%= t 'tabs.most_voted' %></option>
    <option value="<%= root_url(:mobile => 0) %>"><%= t 'mobile.full_version' %></option>
  </select>
  </form>
</div>
<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
