<!DOCTYPE html>

<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", :media => "all" %>  
  <%= stylesheet_link_tag    "custom", :media => "all" %>
 <%= javascript_include_tag "application", "shibshib-v1", "http://code.jquery.com/jquery-1.7.1.min.js" %>
</head>

<body>
	<%= render 'layouts/header' %>
	<%= render 'layouts/googleanalytics'%>
	
	<%= if ( (notice.to_s.length != 0) || (alert.to_s.length != 0) )
		render 'layouts/notice'
	end %>
   <div class="container">
    
	  <%= yield %>
	</div>
	<%= render 'layouts/footer' %>
</body>
</html>
