<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
	$("#menu a").mouseenter(funtion () {
		$(this).switchClass("normal", "hover", 1700);
	});
	$("#menu a").mouseleave(funtion () {
		$(this).switchClass("hover", "normal", 1700);
	});
	});  
  </script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "custom", :media => "all" %>
  <%= javascript_include_tag "application" %>
  
</head>
<body>
	<div id="header" align="center">
		<%= image_tag("logo.png", :alt => "ShibShib", :class => "round") %>
		<%= link_to "Home", '#' , :class => "normal" %>
		<%= link_to "New Post", '#' , :class => "normal" %>
		<%= link_to "Sign In", '#' , :class => "normal" %>
	</div>
	<div class="container">
		<section class="round">
		    <p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
			<%= yield %>
		</section>
	</div>
</body>
</html>
