<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", :media => "all" %>  
  <%= stylesheet_link_tag    "custom", :media => "all" %>
  <%= javascript_include_tag "application" %>
</head>

<body>
  <%= render 'layouts/header' %>
	<%= render 'layouts/googleanalytics' %>
   <div class="container">
	  <p class="notice"><%= notice %></p>
	  <p class="alert"><%= alert %></p>
	  <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
