<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "custom", :media => "all" %>
  <%= javascript_include_tag "application" %>
  
</head>
<body>
	<div id="header" align="center">
		<%= image_tag("logo.png", :alt => "ShibShib") %>
		<%= link_to "Home", '#' , :class => "normal" %>
		<%= link_to "New Post", '#' , :class => "normal" %>
		<%= link_to "Sign In", '#' , :class => "normal" %>
	</div>
	<div class="container">
		<section class="round">
		    <p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
			<%= yield %>
		</section>
	</div>
</body>
</html>
